<section>
  <h1>
    INCO Statistics
  </h1>
  <div class="stats-divider">
  </div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">from 2019-9-1</th>
        <th scope="col">LONDON</th>
        <th scope="col">MANCHESTER</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="break-header">Total Applicants who have 
          completed Step1 or Step2 and at least
          they were approved in one step</th>
        <td><span class="count-digits"><%= stats1_London %></span></td>
        <td><span class="count-digits"><%= stats1_Manchester %></span></td>
        <td><span class="count-digits"><%= stats1_Total %></span></td>
      </tr>
      <tr>
        <th scope="row" class="break-header"> Total applicants who have attended
          ITC workshops and submitted steps
          </th>
        <td><span class="count-digits"> N/A </span></td>
        <td><span class="count-digits"> N/A </span></td>
        <td><span class="count-digits"> N/A </span></td>
      </tr>
      <tr>
        <th scope="row" class="break-header">Total applicants who have attended 
          ITC workshops without submitting steps</th>
        <td><span class="count-digits"> N/A </span></td>
        <td><span class="count-digits"> N/A </span></td>
        <td><span class="count-digits"> N/A </span></td>
      </tr>

      <tr>
        <th scope="row" class="break-header"> Total applicants who 
          have never attended ITC workshops </th>
          <td><span class="count-digits"> N/A </span></td>
          <td><span class="count-digits"> N/A </span></td>
          <td><span class="count-digits"> N/A </span></td>
      </tr>

    </tbody>
  </table>
</section>
