<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle%> | <%=siteName%></title>
  
</head>
<body>
  this came from layout
  <main>
    <%- include(`../pages/${template}`) %>
  </main>
</body>
</html>